body {
  background: #FFCF33;
  padding:0;
  margin:0;
  
  color: #8F6600;
}

input {
    color: inherit;
    font-family: inherit;
    
    background: none;
    border: none;
}

form {
    margin: 0;
    padding: 0;
}

.navbar {
  background: #ffd670;
  width: 100%;
  height: 4em;
  padding: 0;
  margin: 0;
  
  position: absolute;
  top: 0;
  
  display: flex;
  align-content: center;
  justify-content: center;
  
  border-bottom: 2px solid #8F6600;
  
  
}

.main {
  position: relative;
  top: 4em;
  display: flex;  
  flex-direction: column;
  justify-content: center;
}

.main > div {
}

.group-entry {
  border: 2px solid #8F6600;
  border-radius: 3px;
  
  margin: 2em;
  
  background: #FFE299;
  
  z-index: 1;
}

.group-title {
  border-bottom: 1px solid #8F6600;
  text-align: center;
  padding: 1em 0 1em 0;
  
  font-size: x-large;
}

.group-buttons {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 1em 0.2em 1em 0.2em;
}

.group-button {
  border: 2px solid #8F6600;
  border-radius: 3px;
  width: 25vh;
  padding: 1em 0 1em 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: white;
}

.group-button-on {
  background: #1AA037;
}

.disabled {
  opacity: 60%;  
}

.group-button-off {
  background: #E63229;
}

.links {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.links > a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  margin: 0 1em 0 1em;
}
